{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row marg">
        <div class="col-lg-12">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-3 col-lg-6 text-left control-label" for="{{ field.auto_id }}">
                            <div class="text-danger form-error-msg">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-3 col-lg-6">
                        {{ field }}
                    </div>
                {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-3 col-lg-6">
                            <button type="submit" class="btn btn-success col-sm-12 col-md-12 col-lg-12">Додати</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="row marg">
        <div class="col-lg-12">
            <ul>
                {% for latest_picture in latest_pictures %}
                    <li class="pictureBlock">
                        <a href="{{ latest_picture.get_absolute_url }}">
                            <img src="{{ latest_picture.img_thumbnail.url }}" class="img-responsive img-thumbnail img-circle">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}